@tailwind base;
@tailwind components;
@tailwind utilities;

/* Paleta de Colores Chalamandra Magistral */
:root {
  --chala-mandala: #FFB300;
  --chala-rosa: #D5006C;
  --chala-verde: #008E4A;
  --chala-tinta: #1C1C1C;
  --chala-rojo: #D50000;
  --chala-azul: #1A237E;
  --chala-gris: #B0BEC5;
}

.boton-audaz {
  background-color: var(--chala-rosa);
  color: white;
}

.fondo-urbano {
  background-color: var(--chala-tinta);
  color: var(--chala-gris);
}
